{% extends "base.html" %}

{% load static %}

{% block cssfiles %} 
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block title %}LOG IN{% endblock %}

{% block content %}

<div class="item1-CC">
  <img id="icono" alt="Image 1" style="width: 80px;" src="{% static 'iconos/' %}microwave.png" align="left" />

  {% include "navbar.html" %}

</div>

<div class="item2-CC">
  <p class="tittle-login">LOGIN 
  </p>

</div>


  <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
  </form> 

<div>

</div>


{% endblock %}